@import "bootstrap/scss/bootstrap";
@import "fonts.scss";
@import "variables.scss";

body{
  color: #b6b9c1;
  font-family: "Roboto", sans-serif;
}
html{
  font-size: 16px;
}

.container-fluid{
  background-color: #eaeaea;

  .sidebar-col{
    background-color: #1b2034;
    // transition: all .25s;
    position: relative;
    align-items: baseline;
    color: var(--green-color);
    transition: all 0.25s ease;
    width: 220px;
    margin-left: -220px; /* Shown when 'open' class is added */
    &.hide{

       margin-left: 0px; /* Initially hidden */
    }
    .title{
      width: 100%;
      background: var(--dark-blue);
      color: var(--green-color);
      height: 60px;
    }

    a.logo{
      font-size: 1.3rem;
      color: var(--white-color);
      font-weight: bold;
    }
    .sidebar-content{
      width: 100%;
      border-right: 2px solid #f39702;
      height: calc(100% - 60px);
      ul.nav{
        padding-top: 50px;
        li{
          padding: 10px 15px;
          a{
            color: var(--green-color);
            i{
              font-size: 1.5rem;
            }
            span{
              font-size: 0.9rem;
              font-weight: 500;
            }
          }
        }
        li:hover{
          a{
            color: var(--white-color);
          }
        }
        li.active{
          border-left: 4px solid var(--orange-color);
          background-color: var(--dark-blue);

          a{
            color: var(--orange-color);
          }
        }
      }
    }
  }

}

button.btn, input[type='submit']{
    background-color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    font-weight: bold;
    padding: 4px 30px;
    border-radius: initial;
    font-size: 1rem;
    color: var(--white-color);
}
.btn:hover , .btn:focus, .btn:active {
  color: var(--white-color);
  background-color: var(--yellow-color);
  border-color: var(--yellow-color);
  box-shadow: none;
}
.btn:hover{
  background-color: var(--orange-color);
  border-color: var(--orange-color);
}
// .sidebar-col{
//   display: none;
// }

.sidebar-col.show{
  position: relative;
}

.only-mobile{
  color: var(--yellow-color);
  font-size: 1rem;
}



/*
Content style
*/

.content-col{

  flex-grow: 1;

  .navbar-top{
    // padding: 24px 15px;
    background-color: var(--dark-blue);
    color: var(--white-color);
    height: 60px;
    .container-fluid{
      background-color: var(--dark-blue);
    }
    i.toggle{
      font-size: 1rem;
      color: var(--white-color);
      flex: 0 0 10%;

    }
  }
  .content{
    border: 20px solid #6d7484;
    height: calc(100% - 60px);
    .content-title{
        padding: 13px 15px;
        color: white;
        font-weight: bold;
        letter-spacing: 0.5px;
        font-family: 'Roboto';
        background-color: var(--yellow-color);
    }
    i.fa-plus-circle{
      font-size: 1.5rem;
      color: var(--yellow-color);
    }
    i.fa-plus-circle:hover{
      color: var(--orange-color);
    }
    .empty-content{
      max-width: 360px;
    }
    .container{
      .task-item{
        max-width: 600px;
        margin: auto;
        border: 2px dashed #bcbcbc;
        padding: 15px 0px;
        background-color: #ffffff;
        .task-content{
          .task-name{
            color: #919191;
            font-size: 1rem;
            font-weight: 500;
            border-bottom: 1px solid #dddddd;
          }

          .task-description{
            color: #929292;
            font-size: 0.8rem;
          }
          .task-date{
            font-size: 0.7rem;
          }
        }
      }
      .complete-btn{

      }
    }
  }
  .menu-name{
    flex: 0 0 60%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .user{
    flex: 0 0 30%;
    .logout-btn{
      display: none;
    }
    .profile-img{
      width: 35px;
      border-radius: 1.3em;
    }
  }
}

#dialog, #edit-dialog{
  min-width: 700px;
  min-height: 190px;
  border: none;
  border-radius: 0.5em;
  padding: 0px;


  form{
    input{
      border: none;
      &#form-task-name{
        color: #919191;
        font-size: 1rem;
        font-weight: 500;
      }
      &#form-task-description{
        color: #929292;
        font-size: 0.8rem;
      }
    }
    #form-task-date, #priority-selection{
      font-size: 0.9rem;
      align-items: center;
      height: 32px;
      width: fit-content;
      border: 2px dashed #b7b7b7;
      margin-top: 15px;
      margin-left: 15px;
      border-radius: unset;

    }
    #priority-selection{
      option{
        padding: 0px 14px;
      }
    }
    .form-control:focus{
      border: none;
      box-shadow: none;
    }
    .form-fields{
      padding: 24px 15px 10px 10px;

    }
    .form-buttons{
      border-top: 1px solid var(--yellow-color);
      padding: 15px 20px;
      margin-top: 13px;
    }
    .priority{
      position: relative;
      .dropdown-menu{
        position: absolute;
      }
    }

  }
}

select, select:focus-visible{
  border: none;
  background: white;
}

ul.show-dropdown{
  display: block;
}




/*Mobile style*/

@media screen and (min-width:991px){

  .container-fluid{
    .sidebar-col{

      margin-left: 0px; /* Shown when 'open' class is added */
      &.hide{

        margin-left: -220px; /* Initially hidden */
      }
    }
  }
  // .sidebar-col.show{
  //   left: -256px;
  //   margin-right: -256px;
  // }

  .only-mobile{
    display: none;

  }

  .container-fluid{
    .content-col{
      .user{
        .logout-btn{
          display: block;
        }
      }

      .navbar-top{
        i.toggle{
          flex: 0 0 10%;
        }
      }
      .menu-name{
        flex: 0 0 60%;
      }

      .user{
        flex: 0 0 30%;
      }
    }
  }
}


