@import "bootstrap/scss/bootstrap";
@import "fonts.scss";
@import "variables.scss";


//lauout style
body{
  color: #b6b9c1;
  font-family: "Roboto", sans-serif;
}
html{
  font-size: 16px;
}

.container-fluid{
  background-color: #eaeaea;

  .sidebar-col{
    background-color: #1b2034;
    // transition: all .25s;
    position: relative;
    align-items: baseline;
    color: var(--green-color);
    transition: all 0.25s ease;
    width: 220px;
    margin-left: -220px; /* Shown when 'open' class is added */
    &.hide{

       margin-left: 0px; /* Initially hidden */
    }
    .title{
      width: 100%;
      background: var(--dark-blue);
      color: var(--green-color);
      height: 60px;
    }

    a.logo{
      font-size: 1.3rem;
      color: var(--white-color);
      font-weight: bold;
    }
    .sidebar-content{

      width: 100%;
      border-right: 2px solid #f39702;
      height: calc(100% - 60px);

      ul.nav{

        padding-top: 50px;

        li{
          padding: 10px 15px;


          &.active{
            border-left: 4px solid var(--orange-color);
            background-color: var(--dark-blue);

            a{
              color: var(--orange-color);
            }
          }

          &:hover{
            background-color: var(--dark-blue);
            a{
              //color: var(--white-color);
            }
          }

          a{
            color: var(--green-color);

            i{
              font-size: 1.5rem;
            }

            span{
              font-size: 0.9rem;
              font-weight: 500;
            }

          }

        }

        ul.nav.submenu{

          display: none;
          padding-top: 0px;

          &.show{
            display: block;

          }
        }

      }

      ul#second-menu{
        li{
            i.fa-angle-down{
              transform: rotate(4.7269rad);

              &.rotate-icon{
                transform: rotate(0rad);
                color: var(--white-color);
              }
            }
            i.fa-plus{
              font-size: 1rem;
            }
            i.fa-plus:hover, i.fa-angle-down:hover{
              color: var(--white-color);
            }

          }
      }

    }
  }

}

button.btn, input[type='submit']{
    background-color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    font-weight: bold;
    padding: 4px 30px;
    border-radius: initial;
    font-size: 1rem;
    color: var(--white-color);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn{
  background-color: var(--yellow-color);
  border-color: var(--yellow-color);
  opacity: 0.4;
}
.btn:hover , .btn:focus, .btn:active {
  color: var(--white-color);
  background-color: var(--yellow-color);
  border-color: var(--yellow-color);
  box-shadow: none;
}
.btn:hover{
  background-color: var(--orange-color);
  border-color: var(--orange-color);
}

select, select:focus-visible{
  border: none;
  background: white;
  color: #181d30;
  outline: none;
  width: 153px;
}

ul.show-dropdown{
  display: block;
}


// .sidebar-col{
//   display: none;
// }

.sidebar-col.show{
  position: relative;
}

.only-mobile{
  color: var(--yellow-color);
  font-size: 1rem;
}



/*
Content style
*/

.content-col{

  flex-grow: 1;

  .navbar-top{
    // padding: 24px 15px;
    background-color: var(--dark-blue);
    color: var(--white-color);
    height: 60px;
    .container-fluid{
      background-color: var(--dark-blue);
    }
    i.toggle{
      font-size: 1rem;
      color: var(--white-color);
      flex: 0 0 10%;

    }
  }
  .content{
    border: 20px solid #6d7484;
    height: calc(100% - 60px);
    .content-title{
        padding: 13px 15px;
        color: white;
        font-weight: bold;
        letter-spacing: 0.5px;
        font-family: 'Roboto';
        background-color: var(--yellow-color);
    }
    i.fa-plus-circle{
      font-size: 1.5rem;
      color: var(--yellow-color);
    }
    i.fa-plus-circle:hover{
      color: var(--orange-color);
    }
    .empty-content{
      max-width: 360px;
    }
    .container{
      .task-item{
        max-width: 600px;
        margin: auto;
        border: 2px dashed #bcbcbc;
        padding: 15px 0px;
        background-color: #ffffff;
        box-shadow: 0px 4px 8px #d0d0d0;
        .task-content{
          .task-name{
            color: #919191;
            font-size: 1rem;
            font-weight: 500;
            border-bottom: 1px solid #dddddd;
          }

          .task-description{
            color: #929292;
            font-size: 0.9rem;
          }
          .task-date{
            font-size: 0.7rem;
          }
        }
      }
    }
  }
  .menu-name{
    flex: 0 0 60%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .user{
    flex: 0 0 30%;
    .logout-btn{
      display: none;
    }
    .profile-img{
      width: 35px;
      border-radius: 1.3em;
    }
  }
}

#dialog, #edit-dialog, #project-dialog{
  min-width: 700px;
  min-height: 190px;
  border: none;
  border-radius: unset;
  padding: 0px;


  form{
    input[type="text"]{
      border: none;
      padding: 10px;
      font-size: 0.9rem;
      color: #181d30;

      ::placeholder{
        color: #919191;
      }
      ::-ms-input-placeholder { /* Edge 12-18 */
        color: #919191;
      }
      &.form-control{
        padding-left: 0px;
        //border: 2px dashed #b7b7b7;
      }
      &#form-task-name{

        font-weight: 500;
      }
      &#form-project-name{
        border: 2px dashed #b7b7b7;
        border-radius: 0em;
        padding: 10px;

      }


    }
    label{
      color: #929292;
      font-size: 0.9rem;
      font-weight: 500;

    }
    textarea{
      &#form-task-description{
        color: #181d30;
        border: 2px dashed #b7b7b7;
        font-size: 0.9rem;
        border-radius: 0em;
      }
    }
    #form-task-date, #priority-selection, .projects-options{
      font-size: 0.9rem;
      align-items: center;
      height: 32px;
      border: 2px dashed #b7b7b7;
      margin-top: 15px;
      border-radius: unset;

    }
    #form-task-date{
      width: 153px;
    }
    #priority-selection{
      option{
        padding: 0px 14px;
      }
    }
    .form-control:focus{
      border: none;
      box-shadow: none;
    }
    .form-fields{
      padding: 24px 15px 10px 15px;

    }
    .form-buttons{
      border-top: 1px solid var(--yellow-color);
      padding: 15px 20px;
      margin-top: 13px;
    }
    .priority{
      position: relative;
      .dropdown-menu{
        position: absolute;
      }
    }
    h4.dialog-header{
      padding: 24px 15px 10px 15px;
      border-bottom: 1px solid #dddddd;
      color: #767c8b;
      text-align: left;
    }

    .complete-btn{
      width: 25px;
      &:focus-visible{
        outline: unset;
      }
    }
    .comment-editor{
      display: none;
    }
    .comment-editor.show{
      display: block;
    }
  }
}
#edit-dialog{
  width: 770px;
  min-height: 350px;
  form{
    #form-task-date, #priority-selection, .projects-options{
      margin: 0px;
    }
    h6{
      color: #919191;
    }
  }
}


#project-dialog{
  .form-check-input:checked{
    background-color: var(--yellow-color);
    border-color: var(--yellow-color);
  }
  .form-check-input:checked:focus{
    border-color: var(--yellow-color);
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23fff%27/%3e%3c/svg%3e");
    box-shadow: unset;
  }
  .form-check-input:focus{
    border-color: var(--green-color);
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%280, 0, 0, 0.25%29%27/%3e%3c/svg%3e");
    box-shadow: unset;
  }
}


//Complete task styles

.completed[type="checkbox"]{
  opacity: 0;
  display: none;
}

.completed[type="checkbox"] + label{
  position: relative;
  cursor: pointer;
}

.completed[type="checkbox"]:checked + label::before, .completed[type="checkbox"] + label::before{
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #fff;
  left: 0px;
  top: 0px;
}

.completed[type="checkbox"] + label::before{
  outline: 2px solid #aaa;
}

.completed[type="checkbox"]:checked + label::before{
  outline: 2px solid #e34735;
}

.completed[type="checkbox"]:not(:checked) + label::after, .completed[type="checkbox"]:checked + label::after{
  content: '✔';
  position: absolute;
  color: #e34735;
  width: 12px;
  height: 12px;
  outline: 2px solid #e34735;
  background: #fff;
  left: 0px;
  top: 0px;
  transition: all .3s ease;
  line-height: 16px;
}
.completed[type="checkbox"]:checked + label::after, .completed[type="checkbox"] + label::after{
  opacity: 1;
}

.completed[type="checkbox"]:not(:checked) + label::after{
  opacity: 0;
}





/*Mobile style*/

@media screen and (min-width:991px){

  .container-fluid{
    .sidebar-col{

      margin-left: 0px; /* Shown when 'open' class is added */
      &.hide{

        margin-left: -220px; /* Initially hidden */
      }
    }
  }

  .only-mobile{
    display: none;
  }

  .container-fluid{
    .content-col{
      .user{
        .logout-btn{
          display: block;
        }
      }

      .navbar-top{
        i.toggle{
          flex: 0 0 10%;
        }
      }
      .menu-name{
        flex: 0 0 60%;
      }

      .user{
        flex: 0 0 30%;
      }
    }
  }
}
