.container-register{

    min-height: 100vh;
    display: flex;
    align-items: center;

    .form-container{

        padding: 30px;
        display: flex;
        justify-content: end;

        #login-form{
            width: 300px;
        }

        .form-group{
            .error{
                display: none;
                transition: visibility ease-in 200ms;

            }
            .error.active{
                display: block;
                color: #e34735;
            }

        }
        .result-message{

            &.success{
                color: #d3e3e0;
            }
            &.error{
                color: #e34735;
            }

        }

    }
    .form-control{

        border: 2px dashed #bcbcbc;
        padding: 15px;
        border-radius: 0px;

    }
    .register-img{

        width: 400px;

    }


}

