.container-wrapper{

    min-height: 100vh;
    display: flex;
    align-items: flex-start;

    .form-container{

        padding: 30px;
        display: flex;
        justify-content: center;

        form{
            width: 600px;
            background-color: #ffffff;
            box-shadow: 0px 4px 8px #d0d0d0;
            padding: 35px 0px;

            .header{
                padding: 0px 30px 10px 30px;
                border-bottom: 1px solid #dddddd;
                color: #767c8b;
                text-align: left;
                font-size: 2rem;
                margin-bottom: 40px;
            }

            .form-fields{
                padding: 0px 30px 0px 30px;
                margin-bottom: 40px;

                .form-group{
                    .error{
                        display: none;
                        transition: visibility ease-in 200ms;

                    }
                    .error.active{
                        display: block;
                        color: #e34735;
                        font-size: 1rem;
                    }
                    label{
                        color: #929292;
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                    .form-control{
                        border: 2px dashed #b7b7b7;
                        border-radius: 0em;
                        padding: 10px;
                        font-size: 1.2rem;
                        height: 60px;

                        &::placeholder{

                            font-size: 1rem;
                            color: #919191;

                        }

                        &:focus{
                            box-shadow: unset;
                        }
                    }
                }
            }

            .form-buttons{
                border-top: 1px solid var(--yellow-color);
                padding: 15px 30px;
                margin-top: 13px;
                cursor: pointer;
            }

            .signup-content, .error{

                width: 100%;
                text-align: center;
                display: block;
                font-size: 1.2rem;
                font-style: italic;
                a{
                    color: #e34735 !important;
                    font-weight: 500;
                    color: #929292;
                    text-decoration: underline;
                    cursor: pointer;
                }

            }
            em{
                color: #e34735;
                font-weight: 500;
            }
            .error{
                color: #e34735 !important;
                padding: 5px 0px;
                text-align: left !important;
            }
            .result-message{
                padding-left: 30px;
            }

            #submit{
                padding: 10px 53px;
                font-size: 1.2rem;

            }

        }


        .result-message{

            &.success{
                color: #d3e3e0;
            }
            &.error{
                color: #e34735;
            }

        }

    }
    .description{
        width: 225px;
        line-height: 1.2rem;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background: #ffffff;
        gap: 25px;
        position: absolute;
        transform: translate(65%, -45%);
        box-shadow: 0px 4px 8px #d0d0d0;
        border-radius: 0.5em;
    }
    img.login-img{
        width: 350px;

    }
    .col{
        position: relative;
    }
    .form-control{

        border: 2px dashed #bcbcbc;
        padding: 15px;
        border-radius: 0px;

    }
    .register-img{
        width: 210px;
    }

    .image-column{
        display: none;
    }


}


.logo{
    text-align: center;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    svg{
        width: 40px;
        height: 50px;
    }
    .logo-text{

        color: #767c8b;
        font-size: 1.5rem;
        font-weight: 500;

    }
}
@media screen and (min-width:991px){
    .container-wrapper{
        .form-container {
            form{
                .form-fields{
                    padding: 0px 50px 0px 50px;
                }

                .form-buttons{
                    padding: 15px 55px;
                }

            }
        }
    }
}

@media screen and (min-width:1200px){
    .container-wrapper{
        .image-column{
            display: block;
        }
        .description {
            width: 300px;
        }
        img.login-img{
            width: 550px;
        }
        img.register-img{
            width: 300px;
        }
    }
}